*.pdf
!**/figurer/*.pdf
!**/dokumentation/projektrapport/inc/*.pdf
*.aux
*.fdb_latexmk
*.fls
*.synctex.gz
*.log
*.bbl
*.blg
*.s19
*.elf
*.s
*.mk
*.dass
*.toc
**/*.log
**/Debug/*
**/.codelite/*
*.dass
*.dass
*.elf
*.s19
*.o
*.mk
*.s
*/Makefile
kod/Rorelse/compile_flags.txt
kod/Periferienhet/compile_flags.txt
kod/Lyssnare/compile_flags.txt
kod/Door/compile_flags.txt
kod/Centralenhet/compile_flags.txt
kod/Brusfabrik/compile_flags.txt
kod/Larmsystem.workspace
kod/Rorelse/Rorelse.project
kod/Rorelse/Rorelse.txt
kod/Rorelse/Rorelse.txt
